# Environment variables
.env

# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build and distribution artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage

#json files
*.json